*.iml
*.ipr
*.iws
*~
.DS_Store
.cache
.cache-main
.cache-main
.cache-tests
.cache-tests
.classpath
.externalToolBuilders/
.factorypath
.gradle
.idea
.java-version
.mailmap
.project
.scala_dependencies
.settings
.shell_history
.vscode
/.profiler/
/cypher-shell.zip
Thumbs.db
\#*
build/
out
packaging/standalone/src/main/distribution/cypher-shell
target
